VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=molecules-8487f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=molecules-8487f
VITE_FIREBASE_STORAGE_BUCKET=molecules-8487f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=790999546979
VITE_FIREBASE_APP_ID=1:790999546979:web:45674825f427711f474c56
VITE_FIREBASE_MEASUREMENT_ID=G-4SRH525ZFY
